{% extends "@Iglesia/Iglesia/plantilla_iglesia.html.twig" %}


{% block publicacion %}

 <div class="container-fluid">
    <h2 class="text-center lobster mt-5 mb-5 texto-blanco">Nosotros</h2>

    <div class="row">
        <div class="text-justify col-lg-12 ">
            <p>
                Mision: In in massa sit amet magna dictum mattis id sed nulla. Integer vitae neque ut lorem scelerisque scelerisque. Proin risus quam, egestas nec mauris vel, molestie commodo tellus. Curabitur quam libero, maximus ac dui quis, molestie porttitor nunc. Vivamus ex mauris, sagittis gravida sapien eget, iaculis ultrices urna. Donec lacinia turpis leo, at r
                Objetivos: Mauris mollis, lectus at gravida rhoncus, eros magna commodo mauris, id vulputate tortor dolor nec orci. Integer luctus lacinia nibh. Nulla metus nulla, molestie ut dui eu, vehicula egestas mi. Fusce placerat laoreet dolor. Aenean laoreet vehicula nunc, eget pretium odio convallis non. Nunc sit amet ante at enim ornare placerat ut nec odio. Vivamus rhoncus velit ac ex scelerisque semper. Sed quis
            </p>

          <br><h2 class="text-center lobster mt-3 mb-5 texto-blanco">Publicaciones<h2>
        </div>
    </div>
    </div>
    <div>
{% endblock %}


{% block body %}

<div class="col-md-12 bor ">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="{{ asset('bundles/iglesia/img/publicacion.jpeg') }}" alt="Iglesia" class="dos_columnas">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}


